<div class="row">
    {{#each typeOfSites as |siteItem index|}}
        <div class="col-lg-3">
            {{input 
                type="checkbox" 
                id=(concat "checkbox-" index) 
                name=(concat "checkbox-" index)
                checked=siteItem.isChecked
            }}
            <label for={{concat "checkbox-" index}}>{{siteItem.label}}</label>
        </div>
    {{/each}}
</div>

<div class="row card">
    <div class="card-body">
        {{if (gt ifMoreThree.length 3) "List of portfolio items is too big!" "List of portfolio is coming..."}}
    </div>
</div>
