{{filter-sidebar class="app-filter-sidebar"}}

<div class="row no-gutters">
    <div class="app-content col-sm-8">
        <h1>Start page</h1>
    </div>

    <div class="app-sidebar col-sm-4">
        {{contact-info contact=model}}
    </div>
</div>
